/*reset*/

* {
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic", Gothic, sans-serif;
}

a {
  text-decoration: none;
}

image {
  border: 0;
}

li {
  list-style: none;
}

html,body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

/*Header*/

#main-header {
  width: 100%;
  height: 20%;
}

/*Navigation*/

#main-navigation {
  width: 80%;
  height: 10%; 
  margin: 0 auto;
}

#main-navigation > ul {
  display: flex;
  overflow: hidden;
  text-align: center;
  background-color: #34343c;
}

#main-navigation > ul > li {
  margin: 0;
  padding: 0;
  width: 20%;
  line-height: 45px;
  font-size: 15px;
}

#main-navigation > ul > li > a:hover {
  cursor: pointer;
  color: yellow;
}

#main-navigation > ul > li > a {
  text-decoration: none;
  display: block;
  color: white;
  width: 100%;
  height: 100%;
}

/*Content*/

#content {
  width: 100%;
  height: 45rem;
}

/*Aside*/

#main-aside {
  float: left;
  margin-left: 3%;
  width: 10%;
  height: 100%;
}

#main-aside > .aside-list {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 15%;
  width: 85%;
  height: 65%;
}

.aside-list li a {
  display: block;
  margin-left: 7%;
  padding: 7%;
  font-size: 13px;
  text-align: left;
  font-weight: 600;
  color: #000;
}

.aside-list li a:hover {
  background-color: gray;
}

.aside-list > h3 {
  display: block;
  margin-bottom: 20%;
  padding-top: 10%;
  font-size: 1rem;
}

/*Section*/

#main-section {
  float: left;
  width: 75%;
  height: 100%;
}

/*View-item*/

.view-item {
  float: left;
  width: 100%;
  height: 80%;
}

.paper {
  float: left;
  width: 10%;
  margin: 1%;
  padding: 1% 1% 0;
  font-size: 11px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.paper:hover {
  cursor: pointer;
  float: left;
  width: 10%;
  margin: 1%;
  padding: 1% 1% 0;
  font-size: 11px;
  background: #fff;
  outline: -webkit-focus-ring-color auto 1px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.paper-content {
  margin: 0px -10%;
  margin-top: 0%;
  padding: 6% 7%;
  background: #f2f0f0;
  overflow: hidden;
}

.paper-description {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paper-link {
  display: block;
  float: left;
}

.paper-link > img {
  width: 50px;
  height: 50px;
}

.paper-text {
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paper-holder > a > img {
  width: 100%;
  height: 100px;
}

#pagination {
  float: left;
  width: 100%;
  height: 20%;
}

#pagination li {
  display: inline-block;
}

#pagination ul {
  margin-top: 10%;
  text-align: center;
}

#pagination a {
  color: black;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color .5s;
}

#pagination a:hover {
  background-color: #ddd;
}

/*Footer*/

#main-footer {
  width: 100%;
  height: 15%;
}