/*Main tag*/
* {
  margin: 0;
  padding: 0;
  font-family: '맑은 고딕', 'Malgun Gothic', 'Gothic', 'sans-serif';
}

a {
  text-decoration: none;
}

image {
  border: 0;
}

li {
  list-style: none;
}

body {
  background-color: #E5E5E5;
}

/*Header*/
.main-logo img {
  position: absolute;
  width: 182px;
  height: 70px;
  left: 188px;
  top: 57px;
}

.header-search-form > form > input {
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
  background-color: #E5E5E5;
  width: 700px;
  height: 41px;
  left: 445px;
  top: 86px;
}

.header-search-form > form > input:focus {
  outline: none;
}

/*Navigation*/
#main-navigation {
  position: absolute;
  height: 50px;
  width: 1360px;
  left: 188px;
  top: 182px;
  background: #4CAF50;
  border-top: 1px solid #4CAF50;
}

#main-navigation > ul {
  overflow: hidden;
  text-align: center;
}

#main-navigation > ul > li {
  display: inline;
  padding: 0 5px;
  line-height: 30px;
  font-size: 13px;
  color: #000;
  text-shadow: 0 1px 1px white;
}